<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ui-sref="modules.about">angular-material-webpack-seed</md-button>

    <!-- fill up the space between left and right area -->
    <span flex></span>

    <div layout="row" ng-if="isAuthenticated">
      <md-button ui-sref="auth.profile">{{user.username}}</md-button>

      <md-button ng-click="vm.logout()">Logout</md-button>
    </div>

    <div layout="row" ng-if="!isAuthenticated">
      <md-button ui-sref="auth.login">Login</md-button>
    </div>

  </div>
</md-toolbar>
