<md-toolbar class="md-whiteframe-z3">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Navigation"
      hide-gt-md
      ng-click="vm.toggleSidenav()"
    >
      <md-icon>menu</md-icon>
    </md-button>

    <md-button
      hide-sm
      hide-xs
      ui-sref="modules.about"
    >angular-material-webpack-seed</md-button>

    <!-- fill up the space between left and right area -->
    <span flex></span>

    <div layout="row" ng-if="isAuthenticated">
      <md-button ui-sref="auth.profile">{{user.username}}</md-button>

      <md-button ng-click="vm.logout()">Logout</md-button>
    </div>

    <div layout="row" ng-if="!isAuthenticated">
      <md-button ui-sref="auth.login">Login</md-button>
    </div>
  </div>
</md-toolbar>
