<md-toolbar class="md-whiteframe-z3">
  <div class="md-toolbar-tools no-padding">
    <md-list-item>
      Navigation
    </md-list-item>

    <span flex></span>

    <md-list-item class="hide-gt-md">
      <md-button class="md-icon-button md-button md-ink-ripple" aria-label="Toggle menu"
        data-ng-click="vm.hideSideMenu()"
      >
        <i class="md-title mdi mdi-arrow-left-bold"></i>
      </md-button>
    </md-list-item>
  </div>
</md-toolbar>

<md-content role="navigation" flex>
  <md-content data-ng-repeat="item in vm.items">
    <md-menu-item>
      <md-button
        ng-if="item.state && item.items.length === 0"
        ng-click="vm.menuItemService.goToPage(item)"
        ng-class="{'md-primary': vm.isActive(item.state)}"
      >
        {{::item.title}}
      </md-button>

      <md-button
        ng-if="!item.state && item.items.length === 0"
        ng-disabled="true"
      >
        {{::item.title}}
      </md-button>

      <md-button
        ng-if="item.items.length"
        ng-click="item.open = !item.open"
        ng-class="{'md-primary': vm.isActive(item.state)}"
      >
        <div layout="row" layout-align="space-between center">
          <div>{{::item.title}}</div>
          <div>
            <i class="mdi"
              ng-class="item.open ? 'mdi-chevron-up' : 'mdi-chevron-down'"
            ></i>
          </div>
        </div>
      </md-button>
    </md-menu-item>

    <div ng-show="item.open">
      <md-menu-item class="sub-menu"
        ng-repeat="item in item.items"
      >
        <md-button
          ng-if="item.state && item.items.length === 0"
          ng-click="vm.menuItemService.goToPage(item)"
          ng-class="{'md-primary': vm.isActive(item.state)}"
        >
          {{::item.title}}
        </md-button>

        <md-button
          ng-if="!item.state && item.items.length === 0"
          ng-disabled="true"
        >
          {{::item.title}}
        </md-button>
      </md-menu-item>
    </div>
  </md-content>
</md-content>
