<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1" />

    <base href="<%= htmlWebpackPlugin.options.baseHref %>" />

    <title data-ng-bind="title"></title>

    <link href="//fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  </head>

  <body layout="row"
    data-ng-cloak
    data-ng-class="containerClass"
  >
    <md-sidenav id="sidenav" class="md-sidenav-left md-whiteframe-z3"
      md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
      data-ui-view="sidenav"
    ></md-sidenav>

    <div id="container" layout="column" role="main" flex>
      <header id="header" data-ui-view="header"></header>

      <md-content layout="column" flex md-scroll-y layout-fill
        data-ui-view="content"
      ></md-content>

      <footer id="footer" data-ui-view="footer"></footer>
    </div>
  </body>
</html>
