html {
  overflow: hidden;
}

#loading-bar {
  .bar {
    height: 5px;
  }
}

#loading-bar-spinner {
  left: 5px;
}

.opacity-50 {
  opacity: .5;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin {
  margin: 0;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding {
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}
