footer {
  md-toolbar {
    min-height: 32px;

    .md-toolbar-tools {
      font-size: 12px;
      height: 32px;
      max-height: 32px;
    }

    .md-button {
      font-size: 12px;
      text-transform: inherit;
    }

    .mdi::before {
      font-size: 12px;
      margin-right: 4px;
    }
  }
}
