<md-toolbar>
  <div class="md-toolbar-tools" layout="row" layout-align="center center">
    <md-button aria-label="Github"
      href="https://github.com/tarlepp/angular-material-webpack-seed"
      target="_blank"
    >
      <i class="mdi mdi-github-circle"></i>

      GitHub
    </md-button>

    <md-button aria-label="Issues"
      href="https://github.com/tarlepp/angular-material-webpack-seed/issues"
      target="_blank"
    >
      <i class="mdi mdi-bug"></i>

      Issues
    </md-button>

    <md-button aria-label="Tarmo Leppänen"
      href="https://github.com/tarlepp"
      target="_blank"
    >
      <i class="mdi mdi-human"></i>

      Tarmo Leppänen
    </md-button>

    <span flex></span>

    <small>{{vm.version}}</small>
  </div>
</md-toolbar>
